@import '../../src/styles/theme/text-styles'
@import '../../src/styles/theme/main'
@import '../../src/styles/theme/reset'

body, html 
  margin: 0;

mp-combobox
  background-color: var(--mp-color-main--50);