@import '../../src/styles/theme/reset'
@import '../../src/styles/theme/main'
@import '../../src/styles/mixins/base-styles'

:host
  display block

$$text-styles()

#intro-section
  text-align: center;

header
  min-height var(--mp-size--14)

h2[slot="header"]
  margin-bottom var(--mp-size--6)

mp-page
  padding-bottom var(--mp-size-6)

.interviews-grid
  $grid(2)

#interview-page
  --mp-page-max-width: 100%
  padding-bottom var(--mp-size--6)

main 
  display grid
  grid-template-columns 2fr 4fr minmax(0px, 2fr)
  gap var(--mp-size--8)
  margin-bottom var(--mp-size--9)
  grid-template-areas: 
    "aside-left body .";
  margin-top var(--mp-size--7)
  justify-items center
  align-items start

#aside-right-content-wrapper 
  grid-area aside-left
  justify-self start
  text-align start

#main-content-wrapper
  grid-area body  

mp-page:not([active]) 
  display: none;

mp-search
  max-width 660px
  margin auto

$$a-link()

a 
  height: 100%
  
blockquote
  margin var(--mp-size--10) 0

figure, img {
  max-width: 100%;
  object-fit: contain;
  padding: 0;
  margin: 0;
}  

h4
  margin var(--mp-size--6) 0 var(--mp-size--4) 0 

p
  margin-bottom var(--mp-size--4)

#intro-section *
*[slot=header]
main *
  animation ease-in-opacity 1.25s forwards ease-in-out

$$ease-in-opacity()

@media only screen and (max-width: 660px)
  $$text-font-size-mobile-styles()    

  .interviews-grid
    grid-template-columns: 1fr;

  main 
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    justify-items start
    align-items start
    gap var(--mp-size--6)  
    margin-bottom var(--mp-size--5)
    grid-template-areas: 
      "."\
      "aside-left"\
      "body"\;
