@import '../../src/styles/theme/reset'
@import '../../src/styles/theme/main'
@import '../../src/styles/theme/text-styles'
@import '../../src/styles/mixins/base-styles'

$$text-styles()
$$a-link()

#interview-page
  --mp-page-max-width: 100%
  padding-bottom var(--mp-size--6)
  
#intro-section img
  margin-right: var(--mp-size--6);

#intro-section
  display flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  margin-top var(--mp-size--10)

#contact-container
  display flex
  flex-direction row
  flex-wrap wrap 
  justify-content center
  max-height: 170px;


#contact-textarea-container
  display block
  margin-right: var(--mp-size--5);
  width: 360px;
  min-height: 166px;

#contact-inputs-container
  display: flex
  flex-direction: column
  justify-content: space-between;
  align-items: flex-end;
  height 100%

main 
  display grid
  grid-template-columns 2fr 4fr minmax(0px, 2fr)
  gap var(--mp-size--8)
  margin-bottom var(--mp-size--9)
  grid-template-areas: 
    "aside-left body .";
  margin-top var(--mp-size--7)
  justify-items center
  align-items start

#aside-right-content-wrapper 
  grid-area aside-left
  justify-self start
  text-align start

#main-content-wrapper
  grid-area body  

mp-page:not([active]) 
  display: none;
  
#contact-inputs-container *:not(:first-child)
  margin-top var(--mp-size--3)  

#message-succes-indicator
  text-align: center;

mp-textarea
  --mp-input-border-radius: var(--mp-border-radius--1)

mp-input
  display block
  max-width: 360px
  --mp-input-border-radius: var(--mp-border-radius--1)

blockquote
  margin var(--mp-size--10) 0
  
h3
h4
h5
  margin-top var(--mp-size--7)
  margin-bottom var(--mp-size--3)

p
  margin var(--mp-size--4) 0 

a[arrow]
  display: inline-block;

.text-centered
  text-align: center;



#contact-section .text-centered
  margin-top 0;


.top-hor-line-1
.bottom-hor-line-1
.top-hor-line-2
.bottom-hor-line-2
.top-hor-line-3
.bottom-hor-line-3
  width 100%
  height: 2px  
  margin-top var(--mp-size--2);

.top-hor-line-1
  background: linear-gradient(90deg, transparent 30%, var(--mp-color-main--100) 30%, var(--mp-color-main--100) 78%, transparent 78%);

.bottom-hor-line-1
  background: linear-gradient(90deg, transparent 40%, var(--mp-color-secondary--100) 40%, var(--mp-color-secondary--100) 68%, transparent 68%);

.top-hor-line-2
  background: linear-gradient(90deg, transparent 40%, var(--mp-color-secondary--100) 40%, var(--mp-color-secondary--100) 68%, transparent 68%);

.bottom-hor-line-2
  background: linear-gradient(90deg, transparent 30%, var(--mp-color-main--100) 30%, var(--mp-color-main--100) 78%, transparent 78%);

.top-hor-line-3
  background: linear-gradient(90deg, transparent 20%, var(--mp-color-main--100) 20%, var(--mp-color-main--100) 80%, transparent 80%);

.bottom-hor-line-3
  background: linear-gradient(90deg, transparent 30%, var(--mp-color-secondary--100) 30%, var(--mp-color-secondary--100) 70%, transparent 70%);

.bottom-hor-line-1
  margin-bottom var(--mp-size--8);

.top-hor-line-2
  margin-top var(--mp-size--8);
  
*[slot=header]
article *
#intro-section *
  animation ease-in-opacity 1.25s forwards ease-in-out
  
$$ease-in-opacity()

@media (prefers-color-scheme: dark) 
  header
    background-color var(--mp-color-dark--90)
    color var(--mp-color-light--100)

@media only screen and (max-width: 660px)
  $$text-font-size-mobile-styles()

  #intro-section
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end
    margin-top var(--mp-size--7)

  #contact-textarea-container
  #contact-inputs-container
    width 100%

  #contact-inputs-container * 
    margin-top var(--mp-size--3)

  #contact-inputs-container mp-input
    min-width 100%

  #contact-textarea-container
    margin-right: 0;
    max-width: 100%;

  #contact-container
    max-height: 100%;

  #intro-section img
    margin-right: 0;
    width: 100%;
  
  h4
    margin-top var(--mp-size--5)

  blockquote
    margin var(--mp-size--7) 0    

  main 
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    justify-items start
    align-items start
    gap var(--mp-size--6)  
    margin-bottom var(--mp-size--5)
    grid-template-areas: 
      "."\
      "aside-left"\
      "body"\;

  .bottom-hor-line-1
    margin-bottom var(--mp-size--6);

  .top-hor-line-2
    margin-top var(--mp-size--6);      

  #intro-section img
    width: 70%;    