@import '../../src/styles/theme/reset'
@import '../../src/styles/theme/main'
@import '../../src/styles/mixins/base-styles'

:host
  display block

header
  // background-color var(--mp-color-main--70)
  min-height var(--mp-size--14)

.recensie-grid
  $grid(2)

.recensie-grid a
recensie-preview
  height 100%

#intro-section
  text-align: center;

ul li:first-of-type
  margin-bottom var(--mp-size--2)
  color var(--mp-color-dark--60)

$$text-styles()

mp-recensie:not([active])
mp-page:not([active]) 
  display: none;

mp-search
  max-width 660px
  margin auto

.list 
  list-style: none;
  mp-text-b3()

.list li:first-of-type 
  color hsl(138, 100%, 30%)

.list li:not(:first-of-type) 
  color black

article p:first-of-type 
  padding-top 0
  margin-top 0

figure, img {
  max-width: 100%;
  object-fit: contain;
  padding: 0;
  margin: 0;
}  

#intro-section *
*[slot=header]
main *
  animation ease-in-opacity 1.25s forwards ease-in-out

$$ease-in-opacity()

@media only screen and (max-width: 660px)
  $$text-font-size-mobile-styles()    

  .recensie-grid
    grid-template-columns: 1fr;
  