@import '../../src/styles/theme/text-styles'
@import '../../src/styles/theme/main'
@import '../../src/styles/theme/reset'
@import '../../src/styles/mixins/base-styles'

body, html 
  margin: 0;

$$text-styles()

h3
  margin-top var(--mp-size--8)
  margin-bottom var(--mp-size--5)