@import '../../src/styles/theme/reset'
@import '../../src/styles/theme/main'
@import '../../src/styles/mixins/base-styles'
  
page-content-spacing()
  max-width var(--mp-page-max-width, 1080px)
  margin auto
  padding 0 var(--mp-size--5);

:host
  display block
  
#bottom-hor-line-bottom
main ::slotted(section)
  margin-bottom var(--mp-size--9)

header 
  text-align: center
  padding var(--mp-size--8)

main
  page-content-spacing()

#top-hor-line-top
#top-hor-line-bottom
#bottom-hor-line-top
#bottom-hor-line-bottom
  width 100%
  height: 2px  
  animation horizontal-move 0.15s forwards linear

#bottom-hor-line-top
#bottom-hor-line-bottom
  --move-value-step-0: 10vw
  transform: translateX(var(--move-value-step-0))
  
#top-hor-line-top
  margin-top var(--mp-size--4)

#top-hor-line-top
  background: linear-gradient(90deg, var(--mp-color-main--100) 39%, transparent 39%);

#bottom-hor-line-top
  background: linear-gradient(90deg, transparent 61%, var(--mp-color-main--100) 61%);

#top-hor-line-top
#top-hor-line-bottom
  --move-value-step-0: -10vw
  transform: translateX(var(--move-value-step-0))

#top-hor-line-bottom
#bottom-hor-line-bottom
  margin-top var(--mp-size--2);

#top-hor-line-bottom
  background: linear-gradient(90deg, var(--mp-color-secondary--100) 29%, transparent 29%);

#bottom-hor-line-bottom
  background: linear-gradient(90deg, transparent 64%, var(--mp-color-secondary--100) 64% , var(--mp-color-secondary--100) 93%, transparent 93%);

@keyframes horizontal-move
  100% 
    transform: translateX(0)


@media (prefers-color-scheme: dark) 
  .header-content-container
    color var(--mp-color-light--100)


  ::slotted(*)
    color var(--mp-color-light--100)

@media only screen and (max-width: 660px)
  header 
    padding var(--mp-size--7)
  
  #bottom-hor-line-bottom
  main ::slotted(section)
    margin-bottom var(--mp-size--5)

