@import '../../src/styles/theme/text-styles'
@import '../../src/styles/theme/main'
@import '../../src/styles/theme/reset'

body, html 
  margin: 0;
  background-color var(--mp-color-main--10)
  
figure, img {
  max-width: 100%;
  object-fit: contain;
  padding: 0;
  margin: 0;
}

recensie-preview {
  max-width: 460px;
  margin: 36px;
  background-color white
}

.persons-grid {
  width 100%
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--mp-size--3);
}

.persons-grid ul li:first-of-type {
  margin-bottom: var(--mp-size--2);
  color var(--mp-color-dark--60)
}

.persons-grid ul li
  mp-text-c1()

@media only screen and (max-width: 660px)
  .persons-grid
    grid-template-columns: 1fr;
