@import '../../src/styles/theme/reset'
@import '../../src/styles/theme/main'
@import '../../src/styles/mixins/base-styles'

:host
  display block

header
  min-height var(--mp-size--14)

$$text-styles()

.header-content
 text-align: center;

mp-page 
  --mp-page-max-width: 100%

main 
  display grid
  grid-template-columns 2fr 4fr minmax(0px, 2fr)
  gap var(--mp-size--8)

main 
  grid-template-areas: 
    "aside-left body aside-right";
  margin-top var(--mp-size--7)
  justify-items center
  align-items start

header 
  grid-template-areas: 
    ". header .";
  justify-items start
  align-items start

#aside-right-content-wrapper 
  grid-area aside-left
  justify-self start
  text-align start

#main-content-wrapper
  grid-area body

#aside-right-content-wrapper
  grid-area aside-right

$$text-styles()
$$a-link()

ul
  padding 0
  margin-bottom var(--mp-size--2)

.list 
  list-style: none;
  mp-text-b3()

.list li:first-of-type 
  color var(--mp-color-dark--60)
  margin-top var(--mp-size--3)
  margin-bottom var(--mp-size--2)

article p
  margin var(--mp-size--4) 0 

article p:first-of-type 
  padding-top 0
  margin-top 0

figure, img {
  max-width: 100%;
  object-fit: contain;
  padding: 0;
  margin: 0;
}  

h2[slot="header"]
  margin-bottom var(--mp-size--6)

@media (prefers-color-scheme: dark) 
  .list li:first-of-type 
    color: var(--mp-color-secondary--100);

@media only screen and (max-width: 660px)
  $$text-font-size-mobile-styles()   

  header 
    padding-top var(--mp-size--6)

  #header-content-wrapper 
    padding var(--mp-size--4) 0

  #header-content-wrapper h1,
  #aside-left-content-wrapper h3
    margin-bottom var(--mp-size--6)

  main, header 
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    justify-items start
    align-items start
    gap var(--mp-size--6)

  main 
    grid-template-areas: 
      "aside-right"\
      "aside-left"\
      "body"\;

  header 
    grid-template-areas: 
      "."\
      "header"\
      ".";
    padding 0 var(--mp-size--6)

  #aside-left-content-wrapper
    justify-self center
    margin-bottom var(--mp-size--6)


  #aside-right-content-wrapper
    grid-area aside-left
    justify-self center
    text-align center
    padding 0 var(--mp-size--6)
    width 100%