@import '../../src/styles/theme/reset'
@import '../../src/styles/theme/main'
@import '../../src/styles/theme/text-styles'
@import '../../src/styles/mixins/base-styles'

$$text-styles()
$$a-link()

.recensie-grid
  $grid(2)
  
.interview-grid
  $grid(3)

recensie-preview:hover 
interview-preview:hover 
  box-shadow var(--mp-box-shadow--3)
  cursor pointer

ul li:first-of-type
  margin-bottom: var(--mp-size--2);
  color var(--mp-color-dark--60)

section > *:first-child
  text-align left
  margin var(--mp-size--6) 0

a[arrow]
  margin-top var(--mp-size--4)
  display: inline-block;

h1[slot="header"]
  margin-bottom var(--mp-size--6)
  
@media (prefers-color-scheme: dark) 
  header
    background-color var(--mp-color-dark--80)
    color var(--mp-color-light--100)

@media only screen and (max-width: 660px)
  $$text-font-size-mobile-styles()

  .recensie-grid
  .interview-grid
    grid-template-columns: 1fr;
