@import '../../src/styles/theme/reset'
@import '../../src/styles/theme/main'
@import '../../src/styles/theme/text-styles'
@import '../../src/styles/mixins/base-styles'

$$text-styles()
$$a-link()

.grid
  $grid(2)
  

h1
  animation: 
    typing 1.5s steps(20, end)

ul li:first-of-type
  margin-bottom: var(--mp-size--2);
  color var(--mp-color-dark--60)

a[arrow]
  margin var(--mp-size--6) 0
  display: inline-block;

h2[slot="header"]
h3
p
  margin-bottom var(--mp-size--6)

basic-preview[data-type="review"]
  border-top 4px solid var(--mp-color-main--100)

basic-preview[data-type="interview"]
  border-top 4px solid var(--mp-color-secondary--100)
  
@media (prefers-color-scheme: dark) 
  header
    background-color var(--mp-color-dark--80)
    color var(--mp-color-light--100)

@media only screen and (max-width: 660px)
  $$text-font-size-mobile-styles()

  .grid
    grid-template-columns: 1fr;
