@import '../../src/styles/theme/reset'
@import '../../src/styles/theme/main'
@import '../../src/styles/mixins/base-styles'

$$text-styles() 

main
  position relative
  height 100%
  overflow-y auto
  display flex
  flex-direction: column

nav
  width 100%
  display flex
  flex-direction row
  justify-content space-between
  align-items center
  background-color transparent
  max-width 1080px
  margin auto
  padding 0 var(--mp-size--5)
  height var(--mp-size--11)
  z-index 2
  color var(--mp-color-dark--100)
  position absolute
  top 0
  left 0 
  right 0
  

figure, img {
  object-fit: contain;
  padding: 0;
  margin: 0;
}

#hor-line-top
#hor-line-bottom
  position absolute
  left 0 
  right 0
  width 100%
  height: 3px
  z-index 3
  

#hor-line-top
  background: rgb(178,205,255);
  background: linear-gradient(90deg, var(--mp-color-main--100) 39%, transparent 39%);
  top var(--mp-size--11)

#hor-line-bottom
  background: rgb(244,209,143);
  background: linear-gradient(90deg, var(--mp-color-secondary--100) 29%, transparent 29%);
  top var(--mp-size--12)

nav a 
  fill: currentColor;

svg
  width 200px
  height 100%

nav ul
  display flex
  flex-direction row
  justify-content flex-end
  list-style none

nav ul li
  padding 0 12px
  line-height 58px

nav ul li:last-of-type
  padding-right 0

nav ul li a
  mp-text-c1()

.page
  display block
  flex 1
  background-color var(--mp-color-secondary--20)

.page:not([visible]) {
  display none
  // opacity 0
  // pointer-events none
  // transition visibility 0s 0.5s, opacity 0.5s linear
  // visibility hidden
  // height 0
}

.page[visible] {
  display block
  // opacity 1
  // pointer-events auto
  // transition opacity 0.5s linear
  // visibility visible
  // height auto
}

.page-content
  max-width 1080px
  margin auto
  padding 0 var(--mp-size--5)

footer
  min-height var(--mp-size--10)
  background-color var(--mp-color-main--100)
  color var(--mp-color-light--100)
  display flex
  align-items center

footer > * 
  max-width 1080px
  margin auto
  padding 0 var(--mp-size--5)


@media (prefers-color-scheme: dark) 
  nav
    color var(--mp-color-light--100)

  footer
    background-color var(--mp-color-dark--60);
    color var(--mp-color-dark--100)
  
  .page
    background-color var(--mp-color-dark--80)



