@import '../../src/styles/theme/reset'
@import '../../src/styles/theme/main'
@import '../../src/styles/mixins/base-styles'

$$text-styles() 

main
  position relative
  height 100%
  overflow-y auto
  display flex
  flex-direction: column

nav
  width 100%
  display flex
  flex-direction row
  justify-content space-between
  align-items center
  max-width 1080px
  margin auto
  padding var(--mp-size--3) var(--mp-size--5)
  z-index 2
  color var(--mp-color-dark--100)  

figure, img {
  object-fit: contain;
  padding: 0;
  margin: 0;
}

nav a 
  fill: currentColor;

svg
  width 200px
  height 100%

nav ul
  display flex
  flex-direction row
  justify-content flex-end
  list-style none

nav ul li
  padding 0 12px
  line-height 58px

nav ul li:last-of-type
  padding-right 0

nav ul li a
  mp-text-c1()

.page
  display block
  flex 1

main
.page
nav
  background-color var(--mp-color-secondary--20)

.page:not([visible]) {
  display none
  // opacity 0
  // pointer-events none
  // transition visibility 0s 0.5s, opacity 0.5s linear
  // visibility hidden
  // height 0
}

.page[visible] {
  display block
  // opacity 1
  // pointer-events auto
  // transition opacity 0.5s linear
  // visibility visible
  // height auto
}

.page-content
  max-width 1080px
  margin auto
  padding 0 var(--mp-size--5)

footer
  // min-height var(--mp-size--10)
  background-color var(--mp-color-main--100)
  color var(--mp-color-dark--100)
  display flex
  align-items center

footer > * 
  max-width 1080px
  margin auto
  padding var(--mp-size--5)


@media (prefers-color-scheme: dark) 
  nav
    color var(--mp-color-light--100)

  footer
    background-color var(--mp-color-dark--60);
    color var(--mp-color-light--100)
  
  main
  nav
  .page
    background-color var(--mp-color-dark--80)


@media only screen and (max-width: 660px)
  $$text-font-size-mobile-styles()        

  nav
    flex-wrap: wrap;
    justify-content: center;
  
  nav ul
    justify-content: space-around;
    width 100%

  nav ul li
    margin 0
    padding 0

  nav a 
    margin-top var(--mp-size--6)
