@import '../../src/styles/theme/reset'
@import '../../src/styles/theme/main'
@import '../../src/styles/mixins/base-styles'

:host
  display block
  border-radius var(--mp-border-radius--1)
  box-shadow var(--mp-box-shadow--1)

$$text-styles()

main
  width 100%
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  
ul
  $ul-style()

figure
  max-width 100%
  max-height 100%
  object-fit cover

.header-main
  display flex
  flex-direction column
  justify-content flex-end
  flex 1

header
  display flex
  flex-direction row
  justify-content space-between
  padding var(--mp-size--4)
  background-color var(--mp-color-main--100);
  color var(--mp-color-dark--100);

main
  padding var(--mp-size--4)
  background-color var(--mp-color-light--100);

header
  align-items flex-end

.persons-grid {
  width 100%
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
}

header ul
  text-align right
  flex 1

.persons-grid ul li:first-of-type {
  margin-bottom: var(--mp-size--1);
  color var(--mp-color-dark--60)
}

.persons-grid ul li
  mp-text-c1()  

@media (prefers-color-scheme: dark) 
  main
    background-color var(--mp-color-dark--60);
    color var(--mp-color-light--100);

  header
    background-color var(--mp-color-main--50);
    color var(--mp-color-dark--90);

  .persons-grid ul li:first-of-type
    color var(--mp-color-light--60)


@media only screen and (max-width: 660px)
  $$text-font-size-mobile-styles()        

  header
    flex-direction: column;
    align-items: flex-start;

  header ul
    text-align: left;

  .persons-grid
    display block

  ul
    text-align left
    margin-top var(--mp-size--4)
