@import '../../src/styles/theme/reset'
@import '../../src/styles/theme/main'
@import '../../src/styles/theme/text-styles'

mp-combobox
  width 500px

#titles-checkbox-container
  display block

#titles-checkbox-container > label
  mp-text-b1()
