@import '../mixins/box-shadows'

html, body {
  --mp-box-shadow--1: $mp-box-shadow--1;
  --mp-box-shadow--2: $mp-box-shadow--2;
  --mp-box-shadow--3: $mp-box-shadow--3;
  --mp-box-shadow--4: $mp-box-shadow--4;
  --mp-box-shadow--5: $mp-box-shadow--5;
}