@import '../mixins/colors'

html, body
  --mp-color-main $mp-color-main
  --mp-color-secondary $mp-color-secondary

  --mp-color-main--100 tint($mp-color-main, 0%)
  --mp-color-main--90 tint($mp-color-main, 10%)
  --mp-color-main--80 tint($mp-color-main, 20%)
  --mp-color-main--70 tint($mp-color-main, 30%)
  --mp-color-main--60 tint($mp-color-main, 40%)
  --mp-color-main--50 tint($mp-color-main, 50%)
  --mp-color-main--40 tint($mp-color-main, 60%)
  --mp-color-main--30 tint($mp-color-main, 70%)
  --mp-color-main--20 tint($mp-color-main, 80%)
  --mp-color-main--10 tint($mp-color-main, 90%)

  --mp-color-main--alpha10 alpha($mp-color-main, 10%)

  --mp-color-secondary--100 tint($mp-color-secondary, 0%)
  --mp-color-secondary--90 tint($mp-color-secondary, 10%)
  --mp-color-secondary--80 tint($mp-color-secondary, 20%)
  --mp-color-secondary--70 tint($mp-color-secondary, 30%)
  --mp-color-secondary--60 tint($mp-color-secondary, 40%)
  --mp-color-secondary--50 tint($mp-color-secondary, 50%)
  --mp-color-secondary--40 tint($mp-color-secondary, 60%)
  --mp-color-secondary--30 tint($mp-color-secondary, 70%)
  --mp-color-secondary--20 tint($mp-color-secondary, 80%)
  --mp-color-secondary--10 tint($mp-color-secondary, 90%)

  --mp-color-dark--100 tint($mp-color-black, 0%)
  --mp-color-dark--90 tint($mp-color-black, 10%)
  --mp-color-dark--80 tint($mp-color-black, 20%)
  --mp-color-dark--70 tint($mp-color-black, 30%)
  --mp-color-dark--60 tint($mp-color-black, 40%)
  --mp-color-dark--50 tint($mp-color-black, 50%)
  --mp-color-dark--40 tint($mp-color-black, 60%)
  --mp-color-dark--30 tint($mp-color-black, 70%)
  --mp-color-dark--20 tint($mp-color-black, 80%)
  --mp-color-dark--10 tint($mp-color-black, 90%)

  --mp-color-light--100 rgba($mp-color-light, 100%)
  --mp-color-light--90 rgba($mp-color-light, 90%)
  --mp-color-light--80 rgba($mp-color-light, 80%)
  --mp-color-light--70 rgba($mp-color-light, 70%)
  --mp-color-light--60 rgba($mp-color-light, 60%)
  --mp-color-light--50 rgba($mp-color-light, 50%)
  --mp-color-light--40 rgba($mp-color-light, 40%)
  --mp-color-light--30 rgba($mp-color-light, 30%)
  --mp-color-light--20 rgba($mp-color-light, 20%)
  --mp-color-light--10 rgba($mp-color-light, 10%)