@import '../mixins/colors'

html, body
  --mp-color-main $mp-color-main
  --mp-color-red $mp-color-red
  --mp-color-yellow $mp-color-yellow
  --mp-color-main $mp-color-pink

  --mp-color-main--100 tint($mp-color-main, 0%)
  --mp-color-main--90 tint($mp-color-main, 10%)
  --mp-color-main--80 tint($mp-color-main, 20%)
  --mp-color-main--70 tint($mp-color-main, 30%)
  --mp-color-main--60 tint($mp-color-main, 40%)
  --mp-color-main--50 tint($mp-color-main, 50%)
  --mp-color-main--40 tint($mp-color-main, 60%)
  --mp-color-main--30 tint($mp-color-main, 70%)
  --mp-color-main--20 tint($mp-color-main, 80%)
  --mp-color-main--10 tint($mp-color-main, 90%)

  --mp-color-main--alpha10 alpha($mp-color-main, 10%)

  --mp-color-yellow--100 tint($mp-color-yellow, 0%)
  --mp-color-yellow--90 tint($mp-color-yellow, 10%)
  --mp-color-yellow--80 tint($mp-color-yellow, 20%)
  --mp-color-yellow--70 tint($mp-color-yellow, 30%)
  --mp-color-yellow--60 tint($mp-color-yellow, 40%)
  --mp-color-yellow--50 tint($mp-color-yellow, 50%)
  --mp-color-yellow--40 tint($mp-color-yellow, 60%)
  --mp-color-yellow--30 tint($mp-color-yellow, 70%)
  --mp-color-yellow--20 tint($mp-color-yellow, 80%)
  --mp-color-yellow--10 tint($mp-color-yellow, 90%)

  --mp-color-main--100 tint($mp-color-pink, 0%)
  --mp-color-main--90 tint($mp-color-pink, 10%)
  --mp-color-main--80 tint($mp-color-pink, 20%)
  --mp-color-main--70 tint($mp-color-pink, 30%)
  --mp-color-main--60 tint($mp-color-pink, 40%)
  --mp-color-main--50 tint($mp-color-pink, 50%)
  --mp-color-main--40 tint($mp-color-pink, 60%)
  --mp-color-main--30 tint($mp-color-pink, 70%)
  --mp-color-main--20 tint($mp-color-pink, 80%)
  --mp-color-main--10 tint($mp-color-pink, 90%)

  --mp-color-main--100 tint($mp-color-main, 0%)
  --mp-color-main--90 tint($mp-color-main, 10%)
  --mp-color-main--80 tint($mp-color-main, 20%)
  --mp-color-main--70 tint($mp-color-main, 30%)
  --mp-color-main--60 tint($mp-color-main, 40%)
  --mp-color-main--50 tint($mp-color-main, 50%)
  --mp-color-main--40 tint($mp-color-main, 60%)
  --mp-color-main--30 tint($mp-color-main, 70%)
  --mp-color-main--20 tint($mp-color-main, 80%)
  --mp-color-main--10 tint($mp-color-main, 90%)

  --mp-color-highlight--100 tint($mp-color-red, 0%)
  --mp-color-highlight--90 tint($mp-color-red, 10%)
  --mp-color-highlight--80 tint($mp-color-red, 20%)
  --mp-color-highlight--70 tint($mp-color-red, 30%)
  --mp-color-highlight--60 tint($mp-color-red, 40%)
  --mp-color-highlight--50 tint($mp-color-red, 50%)
  --mp-color-highlight--40 tint($mp-color-red, 60%)
  --mp-color-highlight--30 tint($mp-color-red, 70%)
  --mp-color-highlight--20 tint($mp-color-red, 80%)
  --mp-color-highlight--10 tint($mp-color-red, 90%)

  --mp-color-dark--100 tint($mp-color-black, 0%)
  --mp-color-dark--90 tint($mp-color-black, 10%)
  --mp-color-dark--80 tint($mp-color-black, 20%)
  --mp-color-dark--70 tint($mp-color-black, 30%)
  --mp-color-dark--60 tint($mp-color-black, 40%)
  --mp-color-dark--50 tint($mp-color-black, 50%)
  --mp-color-dark--40 tint($mp-color-black, 60%)
  --mp-color-dark--30 tint($mp-color-black, 70%)
  --mp-color-dark--20 tint($mp-color-black, 80%)
  --mp-color-dark--10 tint($mp-color-black, 90%)

  --mp-color-light--100 rgba($mp-color-light, 100%)
  --mp-color-light--90 rgba($mp-color-light, 90%)
  --mp-color-light--80 rgba($mp-color-light, 80%)
  --mp-color-light--70 rgba($mp-color-light, 70%)
  --mp-color-light--60 rgba($mp-color-light, 60%)
  --mp-color-light--50 rgba($mp-color-light, 50%)
  --mp-color-light--40 rgba($mp-color-light, 40%)
  --mp-color-light--30 rgba($mp-color-light, 30%)
  --mp-color-light--20 rgba($mp-color-light, 20%)
  --mp-color-light--10 rgba($mp-color-light, 10%)