@import '../mixins/sizings'

html, body

  --mp-size--1 $mp-size * 1
  --mp-size--2 $mp-size * 2
  --mp-size--3 $mp-size * 3
  --mp-size--4 $mp-size * 4
  --mp-size--5 $mp-size * 5
  --mp-size--6 $mp-size * 6
  --mp-size--7 $mp-size * 8
  --mp-size--8 $mp-size * 10
  --mp-size--9 $mp-size * 12
  --mp-size--10 $mp-size * 16
  --mp-size--11 $mp-size * 20
  --mp-size--12 $mp-size * 24
  --mp-size--13 $mp-size * 32
  --mp-size--14 $mp-size * 64
  --mp-size--15 $mp-size * 96
  --mp-size--16 $mp-size * 128
  --mp-size--17 $mp-size * 192
  --mp-size--18 $mp-size * 256
  --mp-size--19 $mp-size * 320
  --mp-size--20 $mp-size * 360
  --mp-size--21 $mp-size * 400
  --mp-size--22 $mp-size * 480