@import '../mixins/text-styles'

$mp-serif-font-family = 'Lusitana', serif
$mp-sans-font-family = 'Work Sans', sans-serif

$mp-text-h1-font-size = 62px
$mp-text-h2-font-size = 50px
$mp-text-h3-font-size = 34px
$mp-text-h4-font-size = 26px
$mp-text-h5-font-size = 20px
$mp-text-h6-font-size = 14px

$mp-text-b1-font-size = 20px
$mp-text-b2-font-size = 18px
$mp-text-b3-font-size = 16px

$mp-text-c1-font-size = 16px
$mp-text-c2-font-size = 14px
$mp-text-c3-font-size = 12px

html, body
  //headings
  --mp-text-h-font-family $mp-serif-font-family
  --mp-text-h-font-weight 700
  --mp-text-h-line-height 110%

  //h1
  --mp-text-h1-font-size $mp-text-h1-font-size

  //h2
  --mp-text-h2-font-size $mp-text-h2-font-size
  --mp-text-h2-line-height 100%

  //h3
  --mp-text-h3-font-size $mp-text-h3-font-size
  --mp-text-h3-font-weight 600

  //h4
  --mp-text-h4-font-size $mp-text-h4-font-size

  //h5
  --mp-text-h5-font-size $mp-text-h5-font-size
  --mp-text-h5-font-weight 400
  --mp-text-h5-font-family $mp-sans-font-family
  --mp-text-h5-line-height 130%

  //h6
  --mp-text-h6-font-size $mp-text-h6-font-size
  --mp-text-h6-font-weight 400
  --mp-text-h6-font-family $mp-sans-font-family
  --mp-text-h6-text-transform uppercase

  //body
  --mp-text-b-font-family $mp-sans-font-family
  --mp-text-b-font-weight 400
  --mp-text-b-line-height 150%

  //b1
  --mp-text-b1-font-size $mp-text-b1-font-size

  //b2
  --mp-text-b2-font-size $mp-text-b2-font-size

  //b3
  --mp-text-b3-font-size $mp-text-b3-font-size

  //captions
  --mp-text-c-font-family $mp-sans-font-family
  --mp-text-c-font-weight 400
  --mp-text-c-line-height 145%

  //c1
  --mp-text-c1-line-height 145%
  --mp-text-c1-font-size $mp-text-c1-font-size

  //c2
  --mp-text-c2-font-size $mp-text-c2-font-size

  //c3
  --mp-text-c3-font-size $mp-text-c3-font-size
$mp-text-h6-font-size = 14px

$mp-text-b1-font-size = 20px
$mp-text-b2-font-size = 18px
$mp-text-b3-font-size = 16px

$mp-text-c1-font-size = 16px
$mp-text-c2-font-size = 14px
$mp-text-c3-font-size = 12px

html, body
  //headings
  --mp-text-h-font-family $mp-serif-font-family
  --mp-text-h-font-weight 700
  --mp-text-h-line-height 110%

  //h1
  --mp-text-h1-font-size $mp-text-h1-font-size

  //h2
  --mp-text-h2-font-size $mp-text-h2-font-size
  --mp-text-h2-line-height 100%

  //h3
  --mp-text-h3-font-size $mp-text-h3-font-size
  --mp-text-h3-font-weight 600

  //h4
  --mp-text-h4-font-size $mp-text-h4-font-size

  //h5
  --mp-text-h5-font-size $mp-text-h5-font-size
  --mp-text-h5-font-weight 400
  --mp-text-h5-font-family $mp-sans-font-family
  --mp-text-h5-line-height 130%

  //h6
  --mp-text-h6-font-size $mp-text-h6-font-size
  --mp-text-h6-font-weight 400
  --mp-text-h6-font-family $mp-sans-font-family
  --mp-text-h6-text-transform uppercase

  //body
  --mp-text-b-font-family $mp-sans-font-family
  --mp-text-b-font-weight 400
  --mp-text-b-line-height 150%

  //b1
  --mp-text-b1-font-size $mp-text-b1-font-size

  //b2
  --mp-text-b2-font-size $mp-text-b2-font-size

  //b3
  --mp-text-b3-font-size $mp-text-b3-font-size

  //captions
  --mp-text-c-font-family $mp-sans-font-family
  --mp-text-c-font-weight 400
  --mp-text-c-line-height 145%

  //c1
  --mp-text-c1-line-height 145%
  --mp-text-c1-font-size $mp-text-c1-font-size

  //c2
  --mp-text-c2-font-size $mp-text-c2-font-size

  //c3
  --mp-text-c3-font-size $mp-text-c3-font-size