@import '../theme/main';

$grid(amount)
  display grid
  gap var(--mp-size--3)
  grid-template-columns repeat(amount, 1fr)

$ul-style()
  list-style none
  padding 0
  margin 0

$$text-styles()
  p
    mp-text-b3()
  h1
    mp-text-h1()
  h2
    mp-text-h2()
  h3
    mp-text-h3()
  h4
    mp-text-h4()
  h5
    mp-text-h5()
  h6
    mp-text-h6()
  article
  p
    mp-text-b3()
  span
    mp-text-c1()
  li
    mp-text-h6()
  ::slotted(h1) 
    mp-text-h1()
  ::slotted(h2)
    mp-text-h2()
  ::slotted(h3)
    mp-text-h3()
  ::slotted(h4)
    mp-text-h4()
  ::slotted(h5)
    mp-text-h5()
  ::slotted(h6)
    mp-text-h6()
  ::slotted(article), 
  ::slotted(p)
    mp-text-b3()
  ::slotted(span)
    mp-text-c1()
  ::slotted(li)
    mp-text-h6()

  p
  h1
  h2
  h3
  h4
  h5
  h6
  article
  p
  li
  ::slotted(h1) 
  ::slotted(h2)
  ::slotted(h3)
  ::slotted(h4)
  ::slotted(h5)
  ::slotted(h6)
  ::slotted(article)
  ::slotted(p)
  ::slotted(span)
  ::slotted(li)
    margin 0
    padding 0
