@import '../theme/main';

$grid(amount)
  display grid
  gap var(--mp-size--3)
  grid-template-columns repeat(amount, 1fr)
  align-items start

$ul-style()
  list-style none
  padding 0
  margin 0

$$text-styles()
  p
    mp-text-b2()
  h1
    mp-text-h1()
  h2
    mp-text-h2()
  h3
    mp-text-h3()
  blockquote p
    mp-text-h4()
  h4
    mp-text-h4()
  blockquote span
    mp-text-h5()
  h5
    mp-text-h5()
  h6
    mp-text-h6()
  article
    mp-text-b2()
  span
    mp-text-c1()
  li
    mp-text-h6()

  ::slotted(h1) 
    mp-text-h1()
  ::slotted(h2)
    mp-text-h2()
  ::slotted(h3)
    mp-text-h3()
  ::slotted(h4)
    mp-text-h4()
  ::slotted(h5)
    mp-text-h5()
  ::slotted(h6)
    mp-text-h6()
  ::slotted(article)
  ::slotted(p)
    mp-text-b2()
  ::slotted(span)
    mp-text-c1()
  ::slotted(li)
    mp-text-h6()

  p
  h1
  h2
  h3
  h4
  h5
  h6
  article
  p
  li
  ::slotted(h1) 
  ::slotted(h2)
  ::slotted(h3)
  ::slotted(h4)
  ::slotted(h5)
  ::slotted(h6)
  ::slotted(article)
  ::slotted(p)
  ::slotted(span)
  ::slotted(li)
    margin 0
    padding 0

  blockquote
    text-align: center;

  blockquote span
    margin-top var(--mp-size--5)

$$text-font-size-mobile-styles()
  p
    font-size var(--mp-text-b2-mobile-font-size)
  h1
    font-size var(--mp-text-h1-mobile-font-size)
  h2
    font-size var(--mp-text-h2-mobile-font-size)
  h3
    font-size var(--mp-text-h3-mobile-font-size)
  h4
    font-size var(--mp-text-h4-mobile-font-size)
  blockquote p
    font-size var(--mp-text-h4-mobile-font-size)
  h5
    font-size var(--mp-text-h5-mobile-font-size)
  blockquote span
    font-size var(--mp-text-h5-mobile-font-size)
  h6
    font-size var(--mp-text-h6-mobile-font-size)
  article
    font-size var(--mp-text-b2-mobile-font-size)
  span
    font-size var(--mp-text-b3-mobile-font-size)
  li
    font-size var(--mp-text-h6-mobile-font-size)

  ::slotted(h1) 
    font-size var(--mp-text-h1-mobile-font-size)
  ::slotted(h2)
    font-size var(--mp-text-h2-mobile-font-size)
  ::slotted(h3)
    font-size var(--mp-text-h3-mobile-font-size)
  ::slotted(h4)
    font-size var(--mp-text-h4-mobile-font-size)
  ::slotted(h5)
    font-size var(--mp-text-h5-mobile-font-size)
  ::slotted(h6)
    font-size var(--mp-text-h6-mobile-font-size)
  ::slotted(article)
  ::slotted(p)
    font-size var(--mp-text-b2-mobile-font-size)
  ::slotted(span)
    font-size var(--mp-text-b3-mobile-font-size)
  ::slotted(li)
    font-size var(--mp-text-h6-mobile-font-size)

$$a-link()
  a[arrow-back]
  a[arrow]
    display: block;
    mp-text-b3()
    background-size 26px
    background-repeat no-repeat
    border-bottom 1px solid var(--mp-color-dark--100)

  a[arrow]
    padding 0 0 var(--mp-size--3) 0

  a[arrow]:after
    content: '->'
    padding-left var(--mp-size--3)

  a[arrow-back]
    padding 0 0 var(--mp-size--3) 0

  a[arrow-back]:before
    content: '<-'
    padding-right var(--mp-size--3)

  @media (prefers-color-scheme: dark) 
    a[arrow-back]
    a[arrow]
      border-bottom 1px solid var(--mp-color-light--100)

$$ease-in-opacity()
  @keyframes ease-in-opacity
    0%
      opacity: 0;

    100%
      opacity: 1;