@import '../theme/main';

$grid(amount)
  display grid
  gap var(--mp-size--3)
  grid-template-columns repeat(amount, 1fr)
  align-items start

$ul-style()
  list-style none
  padding 0
  margin 0

$$text-styles()
  p
    mp-text-b2()
  h1
    mp-text-h1()
  h2
    mp-text-h2()
  blockquote > p,
  h3
    mp-text-h3()
  h4
    mp-text-h4()
  blockquote > span,
  h5
    mp-text-h5()
  h6
    mp-text-h6()
  article
    mp-text-b2()
  span
    mp-text-c1()
  li
    mp-text-h6()

  ::slotted(h1) 
    mp-text-h1()
  ::slotted(h2)
    mp-text-h2()
  ::slotted(h3)
    mp-text-h3()
  ::slotted(h4)
    mp-text-h4()
  ::slotted(h5)
    mp-text-h5()
  ::slotted(h6)
    mp-text-h6()
  ::slotted(article)
  ::slotted(p)
    mp-text-b2()
  ::slotted(span)
    mp-text-c1()
  ::slotted(li)
    mp-text-h6()

  p
  h1
  h2
  h3
  h4
  h5
  h6
  article
  p
  li
  ::slotted(h1) 
  ::slotted(h2)
  ::slotted(h3)
  ::slotted(h4)
  ::slotted(h5)
  ::slotted(h6)
  ::slotted(article)
  ::slotted(p)
  ::slotted(span)
  ::slotted(li)
    margin 0
    padding 0

  blockquote > span
    margin-top var(--mp-size--5)

$$text-font-size-mobile-styles()
  p
    font-size var(--mp-text-b2-mobile-font-size)
  h1
    font-size var(--mp-text-h1-mobile-font-size)
  h2
    font-size var(--mp-text-h2-mobile-font-size)
  blockquote > p,
  h3
    font-size var(--mp-text-h3-mobile-font-size)
  h4
    font-size var(--mp-text-h4-mobile-font-size)
  blockquote > span,
  h5
    font-size var(--mp-text-h5-mobile-font-size)
  h6
    font-size var(--mp-text-h6-mobile-font-size)
  article
    font-size var(--mp-text-b2-mobile-font-size)
  span
    font-size var(--mp-text-b3-mobile-font-size)
  li
    font-size var(--mp-text-h6-mobile-font-size)

  ::slotted(h1) 
    font-size var(--mp-text-h1-mobile-font-size)
  ::slotted(h2)
    font-size var(--mp-text-h2-mobile-font-size)
  ::slotted(h3)
    font-size var(--mp-text-h3-mobile-font-size)
  ::slotted(h4)
    font-size var(--mp-text-h4-mobile-font-size)
  ::slotted(h5)
    font-size var(--mp-text-h5-mobile-font-size)
  ::slotted(h6)
    font-size var(--mp-text-h6-mobile-font-size)
  ::slotted(article)
  ::slotted(p)
    font-size var(--mp-text-b2-mobile-font-size)
  ::slotted(span)
    font-size var(--mp-text-b3-mobile-font-size)
  ::slotted(li)
    font-size var(--mp-text-h6-mobile-font-size)

$$a-link()
  a[arrow-back]
  a[arrow]
    mp-text-b3()
    background-size 26px
    background-repeat no-repeat
    border-bottom 1px solid var(--mp-color-dark--100)

  a[arrow]
    padding 0 var(--mp-size--8) var(--mp-size--3) 0
    background-position 100% -1px
    background-image url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath d='M0 16h27' stroke='%23000'/%3E%3Cpath d='M32 16l-10 6V10l10 6z' fill='%23000'/%3E%3C/svg%3E")

  a[arrow-back]
    padding 0 0 var(--mp-size--3) var(--mp-size--8)
    background-position 0% +1px
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMmpzMiAzMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTUgMTZIMzIiIHN0cm9rZT0iYmxhY2siLz4KPHBhdGggZD0iTTIuNjIyNjhlLTA3IDE2TDEwIDIyTDEwIDEwTDIuNjIyNjhlLTA3IDE2WiIgZmlsbD0iYmxhY2siLz4KPC9zdmc+Cg==")
