/* Reset */

mp-text-reset()
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  text-rendering optimizeLegibility

mp-text-heading-reset()
  margin 0

/* Heading */

mp-text-h1()
  mp-text-reset()
  mp-text-heading-reset()
  font-family var(--mp-text-h1-font-family, var(--mp-text-h-font-family, var(--mp-text-font-family)))
  font-size var(--mp-text-h1-font-size)
  font-weight var(--mp-text-h1-font-weight, var(--mp-text-h-font-weight))
  font-style var(--mp-text-h1-font-style, var(--mp-text-h-font-style))
  line-height var(--mp-text-h1-line-height, var(--mp-text-h-line-height))
  text-transform var(--mp-text-h1-text-transform, var(--mp-text-h-text-transform))
  
mp-text-h2()
  mp-text-reset()
  mp-text-heading-reset()
  font-family var(--mp-text-h2-font-family, var(--mp-text-h-font-family, var(--mp-text-font-family)))
  font-size var(--mp-text-h2-font-size)
  font-style var(--mp-text-h2-font-style, var(--mp-text-h-font-style))
  font-weight var(--mp-text-h2-font-weight, var(--mp-text-h-font-weight))
  line-height var(--mp-text-h2-line-height, var(--mp-text-h-line-height))
  text-transform var(--mp-text-h2-text-transform, var(--mp-text-h-text-transform))

mp-text-h3()
  mp-text-reset()
  mp-text-heading-reset()
  font-family var(--mp-text-h3-font-family, var(--mp-text-h-font-family, var(--mp-text-font-family)))
  font-size var(--mp-text-h3-font-size)
  font-weight var(--mp-text-h3-font-weight, var(--mp-text-h-font-weight))
  font-style var(--mp-text-h3-font-style, var(--mp-text-h-font-style))
  line-height var(--mp-text-h3-line-height, var(--mp-text-h-line-height))
  text-transform var(--mp-text-h3-text-transform, var(--mp-text-h-text-transform))

mp-text-h4()
  mp-text-reset()
  mp-text-heading-reset()
  font-family var(--mp-text-h4-font-family, var(--mp-text-h-font-family, var(--mp-text-font-family)))
  font-size var(--mp-text-h4-font-size)
  font-weight var(--mp-text-h4-font-weight, var(--mp-text-h-font-weight))
  font-style var(--mp-text-h4-font-style, var(--mp-text-h-font-style))
  line-height var(--mp-text-h4-line-height, var(--mp-text-h-line-height))
  text-transform var(--mp-text-h4-text-transform, var(--mp-text-h-text-transform))

mp-text-h5()
  mp-text-reset()
  mp-text-heading-reset()
  font-family var(--mp-text-h5-font-family, var(--mp-text-h-font-family, var(--mp-text-font-family)))
  font-size var(--mp-text-h5-font-size)
  font-weight var(--mp-text-h5-font-weight, var(--mp-text-h-font-weight))
  font-style var(--mp-text-h5-font-style, var(--mp-text-h-font-style))
  line-height var(--mp-text-h5-line-height, var(--mp-text-h-line-height))
  text-transform var(--mp-text-h5-text-transform, var(--mp-text-h-text-transform))

mp-text-h6()
  mp-text-reset()
  mp-text-heading-reset()
  font-family var(--mp-text-h6-font-family, var(--mp-text-h-font-family, var(--mp-text-font-family)))
  font-size var(--mp-text-h6-font-size)
  font-weight var(--mp-text-h6-font-weight, var(--mp-text-h-font-weight))
  font-style var(--mp-text-h6-font-style, var(--mp-text-h-font-style))
  line-height var(--mp-text-h6-line-height, var(--mp-text-h-line-height))
  text-transform var(--mp-text-h6-text-transform, var(--mp-text-h-text-transform))

/* Body */

mp-text-b1()
  mp-text-reset()
  font-family var(--mp-text-b1-font-family, var(--mp-text-b-font-family, var(--mp-text-font-family)))
  font-size var(--mp-text-b1-font-size)
  font-weight var(--mp-text-b1-font-weight, var(--mp-text-b-font-weight))
  font-style var(--mp-text-b1-font-style, var(--mp-text-b-font-style))
  line-height var(--mp-text-b1-line-height, var(--mp-text-b-line-height))
  text-transform var(--mp-text-b1-text-transform, var(--mp-text-b-text-transform))

mp-text-b2()
  mp-text-reset()
  font-family var(--mp-text-b2-font-family, var(--mp-text-b-font-family, var(--mp-text-font-family)))
  font-size var(--mp-text-b2-font-size)
  font-weight var(--mp-text-b2-font-weight, var(--mp-text-b-font-weight))
  font-style var(--mp-text-b2-font-style, var(--mp-text-b-font-style))
  line-height var(--mp-text-b2-line-height, var(--mp-text-b-line-height))
  text-transform var(--mp-text-b2-text-transform, var(--mp-text-b-text-transform))

mp-text-b3()
  mp-text-reset()
  font-family var(--mp-text-b3-font-family, var(--mp-text-b-font-family, var(--mp-text-font-family)))
  font-size var(--mp-text-b3-font-size)
  font-weight var(--mp-text-b3-font-weight, var(--mp-text-b-font-weight))
  font-style var(--mp-text-b3-font-style, var(--mp-text-b-font-style))
  line-height var(--mp-text-b3-line-height, var(--mp-text-b-line-height))
  text-transform var(--mp-text-b3-text-transform, var(--mp-text-b-text-transform))

/* Caption */

mp-text-c1()
  mp-text-reset()
  font-family var(--mp-text-c1-font-family, var(--mp-text-c-font-family, var(--mp-text-font-family)))
  font-size var(--mp-text-c1-font-size)
  font-weight var(--mp-text-c1-font-weight, var(--mp-text-c-font-weight))
  font-style var(--mp-text-c1-font-style, var(--mp-text-c-font-style))
  line-height var(--mp-text-c1-line-height, var(--mp-text-c-line-height))
  text-transform var(--mp-text-c1-text-transform, var(--mp-text-c-text-transform))


mp-text-c2()
  mp-text-reset()
  font-family var(--mp-text-c2-font-family, var(--mp-text-c-font-family, var(--mp-text-font-family)))
  font-size var(--mp-text-c2-font-size)
  font-weight var(--mp-text-c2-font-weight, var(--mp-text-c-font-weight))
  font-style var(--mp-text-c2-font-style, var(--mp-text-c-font-style))
  line-height var(--mp-text-c2-line-height, var(--mp-text-c-line-height))
  text-transform var(--mp-text-c2-text-transform, var(--mp-text-c-text-transform))

mp-text-c3()
  mp-text-reset()
  font-family var(--mp-text-c3-font-family, var(--mp-text-c-font-family, var(--mp-text-font-family)))
  font-size var(--mp-text-c3-font-size)
  font-weight var(--mp-text-c3-font-weight, var(--mp-text-c-font-weight))
  font-style var(--mp-text-c3-font-style, var(--mp-text-c-font-style))
  line-height var(--mp-text-c3-line-height, var(--mp-text-c-line-height))
  text-transform var(--mp-text-c3-text-transform, var(--mp-text-c-text-transform))